PORT=4000
CORS_ORIGIN=http://localhost:3000
REDIS_URL=redis://localhost:6379
AUTH_SERVICE_URL=http://localhost:4006
ORDER_SERVICE_URL=http://localhost:4001
PAYMENT_SERVICE_URL=http://localhost:4002
INVENTORY_SERVICE_URL=http://localhost:4003
SHIPPING_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
